<h1>First Task</h1>

<p>...Calculations output here...</p>

<h3>Books "0316095648", "0971880107", and "0446610038". What is the message of those values?</h3>
<ul>
  <li>Book "0316095648" inspect: <%= @book1.inspect %></li>
  <li>Book "0971880107" inspect: <%= @book2.inspect %></li>
  <li>Book "0446610038" inspect: <%= @book3.inspect %></li>
</ul>

<h3>Users "1903", "2033", and "2766". Compare the values? What do these values tell us?</h3>
<ul>
  <li>User 1903 inspect: <%= @user1.inspect %></li>
  <li>User 2033 inspect: <%= @user2.inspect %></li>
  <li>User 2766 inspect: <%= @user3.inspect %></li>
</ul>


<h3>(20 Points) Find the most similar user to user "276688" with respect to his/her ratings calculated using Pearson correlation, Spearman correlation, Cosine similarity (calculate the values only based on mutually rated values). Evaluate only users that have at least 7 ratings with user "276688" in common.</h3>


<p><%= link_to "Back to overview", root_path %></p>