<h1>First Task</h1>

<h3>1a</h3>
<p>
Calculate 푥 ,푥 and 푥 0.25 of the ratings of books "0316095648", "0971880107", and "0446610038". What is the message of those values?
</p>

<% @task_1a.each do |book| %>
  <p>Buch "<%= book[:id] %>"</p>

  <ul>
    <li>Arithmetic average: <%= book[:arithmetic_avg] %></li>
    <li>Median: <%= book[:median] %></li>
    <li>Quantil: <%= book[:quantil] %></li>
  </ul>
<% end %>

<h4>Interpretation</h4>

<p>
  Die meisten Buchbewertungen haben einen Wert von 0, zB ist das erste Buch mit 4 Nullen von insgesamt 7 Werten bewertet. Bei den anderen beiden sind auch überwiegend Nullen.
  <br/>
  Deshalb ist das Ergebnis bei allen 3 Büchern bei Median und p-Quantil gleich: 0.<br/>
</p>

<h3>1b</h3>
<p>
Calculate 푥 , 푠푥 of Users "1903", "2033", and "2766". Compare the values? What do these values tell us?
</p>

<% @task_1b.each do |user| %>
  <p>User "<%= user[:id] %>"</p>

  <ul>
    <li>Arithmetic average: <%= user[:arithmetic_avg] %></li>
    <li>sx: <%= user[:sx] %></li>
  </ul>
<% end %>

<h4>Interpretation</h4>
<p>
User "2033" bewertet allgmein höher als die beiden anderen, hat aber eine höhere Standardabweichung. Die User "1903" und "2766" sind sich sehr ähnlich.
</p>


<h3>1c</h3>

<h4>Interpretation</h4>

<% @task_1c.each do |algorithm| %>
  <p>Algorithmus "<%= algorithm %>"</p>
<% end %>
<p>
  Der Pearson Correlation ist bei User "166596" mit 0.6011130897782883 am höchsten. 
</p>

<p><%= link_to "Back to overview", root_path %></p>